.dropdown {
  display: flex;
  width: 79px;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  gap: 4px;

  border-radius: 8px;
  border: 1px solid var(--Grayscale-40, #818181);
  background: var(--Grayscale-10, #FFF);
  box-sizing: border-box;

  position: absolute;
}

.dropdown>img {
  cursor: pointer;
}

.dropdownMenuTitle {
  color: var(--Grayscale-60, #000);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Pretendard;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2rem; /* 128.571% */
}

.dropdownMenus {
  display: flex;
  width: 79px;
  padding: 4px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: absolute;
  bottom: -72px;

  border-radius: 8px;
  border: 1px solid var(--Grayscale-30, #CFCFCF);
  background: var(--Grayscale-10, #FFF);
  box-shadow: 0px 4px 4px 0px rgba(140, 140, 140, 0.25); 
}

.dropdownMenu {
  display: flex;
  padding: 6px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}