.like {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
}

.likeText {
  color: var(--Grayscale-40, #818181);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 128.571% */
}